<div
  class="main-toolbar improved-toolbar"
  [class.mobile-toolbar]="isSmallScreen"
>
  <button class="menu-icon-btn" (click)="isMobileMenuOpen = true">
    <i class="fa-solid fa-bars menu-bars-icon" style="font-size: 1.7rem"></i>
  </button>

  <div class="main-toolbar-actions">
    <button class="theme-toggle-btn" (click)="toggleTheme()">
      <i class="fa-solid fa-circle-half-stroke"></i>
      <span>{{ isDarkTheme ? "Claro" : "Escuro" }}</span>
    </button>
  </div>
</div>
<div *ngIf="!isSmallScreen" class="main-sidenav-container">
  <nav class="main-sidenav">
    <ul class="main-nav-list">
      <li *ngFor="let link of navLinks">
        <a
          [routerLink]="link.path"
          routerLinkActive="menu-selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
  <div class="main-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isSmallScreen" class="mobile-toolbar-fixed">
  <div class="main-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <div
    class="mobile-menu-overlay"
    *ngIf="isMobileMenuOpen"
    (click)="isMobileMenuOpen = false"
  ></div>
  <nav class="mobile-sidenav-drawer" *ngIf="isMobileMenuOpen">
    <button
      class="close-menu-btn"
      (click)="isMobileMenuOpen = false"
      aria-label="Fechar menu"
    >
      &times;
    </button>
    <ul class="main-nav-list mobile-nav-list">
      <li *ngFor="let link of navLinks">
        <a
          [routerLink]="link.path"
          routerLinkActive="menu-selected"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMobileMenuOpen = false"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</div>
